<!DOCTYPE html>
<html lang="en">   
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Yellowstone National Park</title>
    <link rel="stylesheet" type="text/css" href="./static/css/style.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body class="page">
    <div class="menu">
        <a class="menu-option" href="/">
            <span class="menu-item">
                Home    
            </span>
        </a>
        <a class="menu-option" href="/page1">
            <span class="menu-item">
                Page 1
            </span>
        </a>
        <a class="menu-option" href="/page2">
            <span class="menu-item">
                Page 2
            </span>
        </a>
    </div>
    <div class="content">
        <h1 class="title">Yellowstone Visitation Records</h1>
        <div id="container">
            <video autoplay muted loop>
                <source src= "./Project3.mp4">
            </video>
            <div id="overlay"></div>
        </div>
        <p class="page-data">
            Yellowstone is the World's first National Park, founded on March 1, 1872!  Containing 2.2 million acres across the state of Wyoming, visitors to the park have access to many unique hydrothermal and geological features, wildlife, and the Yellowstone River.
        </p>
    </div>
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <script src="./static/js/base.js"></script>
    <script src="./static/js/app.js"></script>
  

    
</body>
</html>