<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Yellowstone Page 1</title>
    <link rel="stylesheet" type="text/css" href="./static/css/style.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>

<body class="page">
    <div class="menu">
        <a class="menu-option" href="/">
            <span class="menu-item">
                Home    
            </span>
        </a>
        <a class="menu-option" href="/page1">
            <span class="menu-item">
                Page 1
            </span>
        </a>
        <a class="menu-option" href="/page2">
            <span class="menu-item">
                Page 2
            </span>
        </a>
    </div>
    
    <div id="yearDropDownOne"></div>
    <div id="yearDropDownTwo"></div>

    <div class="container">
        <h1>Yellowstone Yearly Visitors</h1>

    <div id= "bar"></div>
    </div>
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <script src="./static/js/app.js"></script>

</body>


