<!DOCTYPE html>
<html lang="en">

<body>
  <div class="container">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Yellowstone Park Visitation Summary</title>
<!--- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">- --->
      </head>
    <div class="jumbotron text-center">
      <!-- Render our data -->
      <h1>{{ text }}</h1>
    </div>

  </div>

  <script src="./static/js/base.js"></script>
  <script src="./static/js/bideo.js"></script>
  <script src="./static/js/comparison.js"></script>
  <script src="./static/js/summary.js"></script>
  <script src="./static/js/map.js"></script>
</body>

</html>